<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grades App</title>
</head>

<body>
    <h1>Welcome to our App<%= session?.isLoggedIn ? ', ' + session.first_name : '' %>
    </h1>

    <nav>
        <ul>
            <li><a href="/students">Students</a></li>
            <li><a href="/grades">Grades</a></li>

            <% if (!session?.isLoggedIn) { %>
                <li><a href="/auth/login">Login</a></li>
                <% } else { %>
                    <li><a href="/auth/logout">Logout</a></li>
                    <% } %>
        </ul>
    </nav>
</body>

</html>