<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student - Add</title>
</head>

<body>

    <h1>Add a Student</h1>

    <form action="/students/add" method="POST">
        <div>
            <label for="fname">First Name</label>
            <input type="text" name="first_name" id="fname" required>
        </div>
        <br>

        <div>
            <label for="lname">Last Name</label>
            <input type="text" name="last_name" id="lname" required>
        </div>
        <br>

        <div>
            <label for="class">Class</label>
            <input type="text" name="class" id="class" required>
        </div>
        <br>

        <button type="submit">Add new student</button>
    </form>
</body>

</html>